body {
  margin: 0;
}

code {
  font-family: opensans, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.frontendModal {
  position: fixed !important;
  width: 384px !important;
  z-index: 100 !important;
  right: 40% !important;
  bottom: 50% !important;
}

@media only screen and (max-width: 600px) {
  .frontendModal {
    z-index: 100 !important;
    right: 15% !important;
  }
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), url(./fonts/opensans.ttf) format("truetype");
}

@font-face {
  font-family: "burton";
  src: local("burton"), url(./fonts/BurtonsDreamsPro-R1rE.ttf) format("truetype");
}

h1 {
  font-family: burton;
  font-size: 60px;
}
